body {
  margin: 10px 0px;
  height: 100%;
  background-color: rgb(92, 166, 238);
}

.header {
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 50px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-weight: bold;
}

.intro {
  width: 70%;
  margin-top: 40px;
  text-align: center;
  margin: auto;
  font-size: 40px;
  padding: 10px;
  font-family: sans-serif;
  border: black 5px solid;
}

.cubes {
  color: red;
}

.image {
  margin: auto;
  display: block;
  width: 200px;
  padding: 30px;
}

.buttons {
  width: 100%;
  margin: auto;
  font-size: 40px;
  margin: 30px 0px;
  font-family: arial;
}

.howToPlay1, .howToPlay2, .howToPlay3 {
  font-size: 20px;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

.redSquare, .blueSquare, .goldCoin {
  display: block;
  margin: auto;
  padding: 10px;
}

.blueSquare {
  height: 65px;
  width: 80px;
}

.redSquare {
  height: 80px;
  width: 70px;
}


.goldCoin {
  height: 60px;
  width: 80px;
}

.playGame, .howToPlay, .highScores {
  background-color: red;
  border: 3px solid black;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  text-align: center;
}

.playGame:hover, .howToPlay:hover, .highScores:hover, .quit:hover {
  background-color: blue;
  color: white;
}

.howToPlayPage, .highScoresPage, .youLose {
  width: 70%;
  margin-top: 40px;
  text-align: center;
  margin: auto;
  font-size: 40px;
  padding: 10px;
  font-family: sans-serif;
  border: black 5px solid;
}

#canvasGame {
  margin: auto;
  display: block;
  box-sizing: border-box;
  background-color: black;
}

.levelName {
  width: 70%;
  text-align: right;
  margin: auto;
  font-size: 30px;
  padding-bottom: 10px;
  font-family: sans-serif;
}

.lifeCounter {
  width: 70%;
  margin: auto;
  text-align: left;
  font-size: 30px;
  padding-bottom: 10px;
  font-family: sans-serif;
}

.quitButton {
  width: 100%;
  margin: auto;
  padding-top: 10px;
}

.quit {
  margin: auto;
  display: block;
  background-color: red;
  border: 3px solid black;
  font-size: 20px;
  padding: 15px;
  width: 150px;
  text-align: center;
  font-style: normal;
  font-family: arial;
}

.footer {
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 20px;
  padding-top: 10px;
  font-family: sans-serif;
}


@media screen and (max-width:1011px) {
  #canvasGame {
    width: 100%;
  }
}
