body {
  margin: 10px 0px;
  height: 100%;
  background-color: rgb(92, 166, 238);
}

.header {
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 50px;
  padding-bottom: 10px;
  font-family: sans-serif;
}

.intro {
  width: 70%;
  margin-top: 40px;
  text-align: center;
  margin: auto;
  font-size: 40px;
  padding: 10px;
  font-family: arial;
  border: black 5px solid;
}

.cubes {
  color: red;
}

.image {
  margin: auto;
  display: block;
  width: 200px;
  padding: 30px;
}

.buttons {
  width: 100%;
  margin: auto;
  font-size: 40px;
  margin: 30px 0px;
  font-family: arial;
}

.playGame, .howToPlay, .highScores {
  background-color: red;
  border: 3px solid black;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  text-align: center;
}

.playGame:hover, .howToPlay:hover, .highScores:hover {
  background-color: blue;
  color: white;
}

.howToPlayPage, .highScoresPage {
  width: 70%;
  margin-top: 40px;
  text-align: center;
  margin: auto;
  font-size: 40px;
  padding: 10px;
  font-family: arial;
  border: black 5px solid;
}

#canvasGame {
  margin: auto;
  display: block;
  box-sizing: border-box;
  background-color: black;
}

.levelName {
  width: 70%;
  text-align: right;
  margin: auto;
  font-size: 30px;
  padding-bottom: 10px;
}

.lifeCounter {
  width: 70%;
  margin: auto;
  text-align: left;
  font-size: 30px;
  padding-bottom: 10px;
}

.footer {
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 30px;
  padding-top: 50px;
}

@media screen and (max-width:810px) {
  #canvasGame {
    width: 100%;
  }
}
